In [3]:
import tabula

In [4]:
pdf_path = "foo.pdf"
dfs = tabula.read_pdf(pdf_path, stream=True)

Failed to import jpype dependencies. Fallback to subprocess.
No module named 'jpype'
'pages' argument isn't specified.Will extract only from page 1 by default.

In [5]:
print(len(dfs))
dfs[0]

1

  Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Percent Fuel Savings Unnamed: 4
0      Cycle         KI   Distance        NaN                  NaN        NaN
1       Name     (1/km)       (mi)   Improved  Decreased Eliminate  Decreased
2        NaN        NaN        NaN      Speed          Accel Stops       Idle
3     2012_2       3.30        1.3       5.9%           9.5% 29.2%      17.4%
4     2145_1       0.68       11.2       2.4%            0.1% 9.5%       2.7%
5     4234_1       0.59       58.7       8.5%            1.3% 8.5%       3.3%
6     2032_2       0.17       57.8      21.7%            0.3% 2.7%       1.2%
7     4171_1       0.07      173.9      58.1%            1.6% 2.1%       0.5%

In [7]:
tabula.convert_into(pdf_path, "tabula_table.csv", output_format="csv", stream=True)

'pages' argument isn't specified.Will extract only from page 1 by default.

In [9]:
import pandas as pd
df = pd.read_csv("tabula_table.csv")
df

  Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Percent Fuel Savings Unnamed: 5
0      Cycle         KI   Distance        NaN                  NaN        NaN
1       Name     (1/km)       (mi)   Improved  Decreased Eliminate  Decreased
2        NaN        NaN        NaN      Speed          Accel Stops       Idle
3     2012_2       3.30        1.3       5.9%           9.5% 29.2%      17.4%
4     2145_1       0.68       11.2       2.4%            0.1% 9.5%       2.7%
5     4234_1       0.59       58.7       8.5%            1.3% 8.5%       3.3%
6     2032_2       0.17       57.8      21.7%            0.3% 2.7%       1.2%
7     4171_1       0.07      173.9      58.1%            1.6% 2.1%       0.5%